/* Default DevCorner Style Setting */

:root{
  --dc-: #28a745;
  --gr-: #515151;
  --shadow-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.fa-code{
  color: var(--dc-);
}

/* .brand{
  margin: 0;
  padding: 0.5em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  border-radius: 5px;
  font-family: Roboto;
  z-index: 1;
  font-size: 3em;
} */

body{
  background: url(../img/img_05.jpeg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  word-spacing: -2px;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: var(--gr-);
  text-align: center;
  margin-top: 3em;
}

.message{
  background: url(../img/img_03.jpeg) no-repeat 50% 15%;
  background-size: cover;
  color: #fff;
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17,0.04,0.03,0.94);
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid var(--dc-);
}

.message h1{
  color: var(--gr-);
  text-align: center;
  width: 22em;
  font-size: 2em;
  padding: 10px 5px;
  border-radius: 5px;
  margin-top: 4em;
}

.center{
  width: 50%;
  margin: 0 auto;
}

#toggle{
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

#toggle + label{
  position: absolute;
  cursor: pointer;
  padding: 10px;
  background: var(--dc-);
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  transition: all 500ms ease;
  margin: 20px 50px;
}

#toggle + label:after{
  content: "Open";
}

.container{
  transition: margin 300ms cubic-bezier(0.17,0.04,.03,0.94);
  padding: 5em 3em;
}

#toggle:checked ~ .message{
  top: 0;
}

#toggle:checked ~ .container{
  margin-top: 250px;
}

#toggle:checked + label{
  background: var(--gr-);
}

#toggle:checked + label:after{
  content: "Close";
}




















/* End */
